{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div" class="cent">
        <ul id="navigation">
            {% for item in navigation %}
                <li><a href="logout.php">Logout</a></li>
            {% endfor %}
        </ul>
        <h2>{{ page_heading_2 }}</h2>
        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}
        <form action="{{ action }}" method="{{ method }}">
            <fieldset>
                <legend>Message Hub</legend>
                <p>Welcome {{ username }}, please select whether you want to download, view or send messages!</p>
                <br>
                {% if current_state %}
                    <label for="date">Time Received: {{ current_state.date }}</label>
                    <br>
                    <label for="message">Message: {{ current_state.message }}</label>
                {% endif %}
                <br>
                <label for="view messages"><input id="view" type="radio" name="detail" value="view" checked="checked">View Messages</label>
                <label for="send messages"><input id="send" type="radio" name="detail" value="send">Send Messages</label>
                <br><br>
                <input type="submit" value="Continue">
            </fieldset>
        </form>
    </div>
{% endblock %}