{% extends 'banner.html.twig' %}
{% block content %}
    <div id="lg-form-container">
        <ul id="navigation">
            {% for item in navigation %}
                <li><a href="logout.php">Logout</a></li>
            {% endfor %}
        </ul>
        <h3>{{ page_heading_2 }}</h3>
   <!--<table>-->
       {% if messages %}
           {% for individualMessage in messages %}
               {% if individualMessage.MESSAGE %}
                   <!--<caption>State Messages</caption>
                   <tr>
                       <th>Switch 1:</th>
                       <th>Switch 2:</th>
                       <th>Switch 3:</th>
                       <th>Switch 4:</th>
                       <th>Fan:</th>
                       <th>Temperature:</th>
                       <th>Last key pressed:</th>
                   </tr>-->
                   {% for message in individualMessage.MESSAGE %}
                       <h5> New Message:</h5>
                       <br>
                       {% for key, value in message %}
                           <p>{{ key }}: {{ value }}</p>
                       {% endfor %}
                       <!--<p>{{ message.Switches.switch1 }}</p>
                       <br>
                       <p>{{ message.Switches.switch2 }}</p>
                       <br>
                       <p>{{ message.Switches.switch3 }}</p>
                       <br>
                       <p>{{ message.Switches.switch4 }}</p>
                       <br>
                       <p>{{ message.Fan }}</p>
                       <br>
                       <p>{{ message.Temperature }}</p>
                       <br>
                       <p>{{ message.Keypad }}</p>
                       <br>-->
                       <!--<tr>
                           <td>{{ message.Switches.switch1 }}</td>
                           <td>{{ message.Switches.switch2 }}</td>
                           <td>{{ message.Switches.switch3 }}</td>
                           <td>{{ message.Switches.switch4 }}</td>
                           <td>{{ message.Fan }}</td>
                           <td>{{ message.Temperature }}</td>
                           <td>{{ message.Keypad }}</td>
                       </tr>-->
                   {% endfor %}
               {% endif %}
           {% endfor %}
       {% endif %}
        <!--</table>-->
        <br><br>
        <p class="curr_page"><a href="{{ landing_page }}">Homepage</a></p>
    </div>
{% endblock %}
